body{
    background-color: #f1deea;
}
.heading{
    font-size: 4rem;
    color: #2A2F4F;
    display:flex;
    justify-content: center;
    font-family: 'Belanosima', sans-serif;
    text-shadow: 0px 2px 3px black;
}
.upper{
    display:flex;
    justify-content: center;
}
.container{
    border: 2px solid black;
    width: 448px;
    height:416px ;
    margin:20px ;
    padding: 5px;
    box-shadow: 0px 1px 15px 1px black;
    display:grid ;
    grid-template-columns: repeat(9,40px);
    grid-template-rows: repeat(9,40px);
    gap:10px
}
input{
    background-color: #917FB3;
    width: 40px;
    color:white;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
}
.i3{
    border-bottom: 3px solid red ;
}
.i1{
    border-right: 3px solid red;
}
.down{
    width:100% ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr 3fr 3fr 3fr;
}
.text{
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 2rem;
    color:#2A2F4F;
}
.text1{
    text-align: center;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    padding: 20px;
    font-size: 1.2rem;
}
button{
    margin-bottom: 10px ;
    font-size: 1.2rem;
}
.anim{
    opacity: 50%;
}
